@model IEnumerable<QuanLyGaraOto.Models.PhuTung>

<div class="show-list show-list-item">
    <table class="tb-phu-tung col-md-12">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenPhuTung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGiaHienHanh)
            </th>
            <th>
                Số lượng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" value="@item.TenPhuTung" name="maDichVu" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGiaHienHanh)
                </td>
                <td><input type="number" class="txt-so-luong" min="0" value="0" /></td>
            </tr>
        }

    </table>
    </div>
